body
{
    background-color: #555555;
    color: white;
    margin: 0;
    min-width: 520px;
    max-width: 100%;
}


#conteiner
{
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    font-size: 33px;
    background-color: #07b957;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    -webkit-box-shadow: 0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    border-radius: 20px;
    min-width: 490px;
    max-width: 90%;
}

#top_menu
{
    position: sticky;
    top: 0;
    background-color: #1c9251;
    -webkit-box-shadow: 0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    text-align: center;
}

#content
{
    background-color: #7c7777;
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footer
{
    background-color: #089748;
    text-align: center;
    margin: 0 auto;
    -webkit-box-shadow: 0px -5px 12px 1px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    0px -5px 12px 1px rgba(50, 50, 50, 0.52);
    box-shadow:         0px -5px 12px 1px rgba(50, 50, 50, 0.52);
    font-family: 'Lobster', cursive;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    font-size: 17px;
}

#footer a
{
    text-decoration: none;
    color: white;
}

.box
{
    background-color: #089748;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 11px 19px 0px rgba(50, 50, 50, 0.41);
    border-radius: 20px;
    min-width: 500px;
    max-width: 95%;
}

.menu_opt
{
    font-family: 'Lobster', cursive;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    font-size: 23px;
    margin: 4px;
}

.menu_opt a
{
    color: white;
    text-decoration: none;
}

.menu_opt:hover
{
    background-color: #29b367;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 5px 13px -3px rgba(50, 50, 50, 0.5);
}

#git
{
    margin: 2px;
    display: inline-block;
    padding: 6px;
}

#dis
{
    margin: 2px;
    display: inline-block;
    padding: 6px;
}

#game
{
    margin: 2px;
    display: inline-block;
    padding: 6px;
}

#git:hover
{
    background-color: #24292E;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 5px 13px -3px rgba(50, 50, 50, 0.5);
}

#dis:hover
{
    background-color: #738BD7;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 5px 13px -3px rgba(50, 50, 50, 0.5);
}

#game:hover
{
    background-color: #2F7F6F;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 5px 13px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 5px 13px -3px rgba(50, 50, 50, 0.5);
}

p
{
    padding: 5px;
    border-radius: 10px;
    background-color: #7e7e7e;
}
