body
{
    background-color: #494848;
    color: white;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#container
{
    background-color: #0084b8;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#logo
{
    background-color: #0084b8;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

#stopka
{
    padding: 3px;
    background-color: #06739e;
    text-align: center;
}

p
{
    padding: 5px;
    background-color: #0199d4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#menu_box
{
    margin: 0;
    background-color: #0199d4;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    text-decoration: none;
}

ul
{
    list-style-type: none;
    margin-left: auto;
}

li
{
    font-size: 22px;
    background-color: #1482ad;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px;
}

a:link
{
    color: white;
    text-decoration: none;
}
a:visited
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color: #1a5586;
    text-decoration: none;
}
a:active
{
    color: #17476e;
    text-decoration: none;
}

img
{
    padding: 5px;
    background-color: #0cb3f5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
